.wd-lhs-icon{
    font-size: 2.2rem; 
}
.wd-dropdown-icon {
    font-size: 1.1rem; 
}
.wd-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: black;
}
a {
    text-decoration: none !important;
}
@media (max-width: 576px) {
    .wd-btn-text {
        display: none;
    }
    .wd-student-view-icon, .wd-dropdown-icon {
        font-size: 1.25rem;
        margin: 0 10px;
    }
    .wd-lhs-icon{
        font-size: 2.2rem;
        margin: 0 10px;
    }
    .wd-student-view-icon {
        margin-top: 15px;
        margin: 0 !important;
    }
    .wd-breadcrumb {
        text-align: center !important;
        display: block !important;
        padding-left: 0;
    }
    .breadcrumb-item::before{
        content: none !important;
    }
}