.wd-mod-buttons i.fa.fa-cog{
    font-size: 1.4em;
}

.wd-mod-buttons i.fa.fa-sign-out{
    font-size: 1.3em;
    color: rgb(84, 84, 84);
}

.wd-mod-buttons i.fa.fa-sign-in{
    font-size: 1.3em;
    color: rgb(84, 84, 84);
}